a, a:link, a:visited {text-decoration:none;font-weight:bold;color:#3a6;}
a:hover {text-decoration:underline;}

.header {min-height:40px;padding:0;border-bottom:1px solid #cacaca;background-color:#eaeaea;
    background-image:linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image:-o-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image:-ms-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    position:fixed;top:0;left:0;right:0;z-index:1;} /* z-index for syntax highlighter css compatibility */
.header h1 {float:left;margin:0;height:40px;line-height:40px;padding:0 18px;border-right:1px solid #d9d9d9;}
.header h2 {margin:0;min-height:30px;line-height:30px;padding:0 18px;background-color:#fff;
    border-top:1px solid #cacaca;}
.header .links {float:left;height:40px;line-height:40px;padding:0 18px;border-left:1px solid #fff;font-weight:bold;}
.header .toolbar-outer {float:right;height:40px;line-height:40px;border-left:1px solid #d9d9d9;}
.header .toolbar {height:40px;line-height:40px;padding:0 18px;border-left:1px solid #fff;font-weight:bold;}
.header .nav {clear:both;}
.header .nav a {line-height:150%;padding:0;}
.header .nav .jump-back:after {content:" : ";}
.header .nav a:hover {text-decoration:none;}

.content {margin:90px 18px 0;}
.content .toggle-syntax-highlight a:hover {text-decoration:none;}

.ns-list {float:left;width:45%;margin-top:-18px;}
.bundle-list {float:right;width:50%;margin-top:-18px;padding:0 0 18px 18px;border-left:1px solid #e7e7e7;}

.code {clear:both;float:right;width:50%;margin:-18px -18px 0 18px;padding:18px 24px 18px 18px;background-color:#eaeaea;
    background-image:linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
    background-image:-o-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
    background-image:-moz-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
    background-image:-webkit-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
    background-image:-ms-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
    border:1px solid #cacaca;border-width:0 0 1px 1px;}
.code pre {padding:5px;background-color:#fff;overflow:auto;
    border:1px solid #e0e0e0;border-top-color:#cacaca;border-left-color:#cacaca;}
button#copy-code {float:right;}

.file-title {margin-bottom:0;}
.file-tree {margin-left:10px;}
.file-tree ul {margin:0;}
.file-tree li {list-style-type:none;padding-left:17px;padding-top:5px;}
.file-tree li.directory {background:url("/img/directory.png") left 5px no-repeat;}
.file-tree li.file {background:url("/img/file.png") left 5px no-repeat;}

.notes {font-weight:bold;}

table, th, td {border:1px solid #cbcbcb;}
td {border-top:0;border-bottom:0;}
tr:nth-child(2n+1) td {background-color:#edf5ff;}
