<!DOCTYPE HTML>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta http-equiv="X-UI-Compatible" content="IE=edge,chrome=1" />

    <title>{{title}}</title>

    <script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssreset/reset-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssfonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssbase/base-min.css" />

    <style>
    body {margin:0;}

    a, a:link, a:visited {text-decoration:none;font-weight:bold;color:#3a6;}
    a:hover {text-decoration:underline;}

    .drill-back {margin-right:6px;}

    .header {height:40px;padding:0 18px;border-bottom:1px solid #cacaca;background-color:#eaeaea;
        background-image:linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-o-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-ms-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);}
    .header h1 {float:left;margin:0;height:40px;line-height:40px;padding-right:18px;border-right:1px solid #d9d9d9;}
    .header .nav {float:left;height:40px;line-height:40px;padding-left:12px;border-left:1px solid #fff;font-weight:bold;}

    .content {margin:0 18px;}
    .content .nav .drill-back {float:left;line-height:150%;}
    .content .nav .toggle-code-highlight {float:right;font-size:108%;font-weight:normal;}
    .content .nav a:hover {text-decoration:none;}
    .content h2 {border-bottom:1px solid #e0e0e0;padding-bottom:12px;}
    .content .ns-list h2, .content .bundle-list h2 {padding-bottom:0;border-bottom:none;margin-left:0;}

    .ns-list {float:left;width:45%;}
    .bundle-list {float:right;width:50%;padding:0 0 18px 18px;border-left:1px solid #e7e7e7;}

    .code {clear:both;float:right;width:50%;margin-right:-18px;padding:18px 24px 18px 18px;background-color:#eaeaea;
        background-image:linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
        background-image:-o-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
        background-image:-moz-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
        background-image:-webkit-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
        background-image:-ms-linear-gradient(right, #f7f7f7 0%, #e7e7e7 20%);
        border:1px solid #cacaca;border-width:1px 0 1px 1px;}
    .code pre {padding:5px;background-color:#fff;overflow:auto;
        border:1px solid #e0e0e0;border-top-color:#cacaca;border-left-color:#cacaca;}
    .code pre .list-item:after {content:",";}
    .code pre .list-item:last-child:after {content:"";}
    button#copy-code {float:right;}

    .file-title {margin-bottom:0;}
    .file-tree {margin-left:10px;}
    .file-tree ul {margin:0;}
    .file-tree li {list-style-type:none;padding-left:17px;padding-top:5px;}
    .file-tree li.directory {background:url("/img/directory.png") left 5px no-repeat;}
    .file-tree li.file {background:url("/img/file.png") left 5px no-repeat;}

    .notes {font-weight:bold;}

    table, th, td {border:1px solid #cbcbcb;}
    td {border-top:0;border-bottom:0;}
    tr:nth-child(2n+1) td {background-color:#edf5ff;}
    </style>
</head>

<body class="yui3-skin-sam">

<header>
    <div class="header">
        <h1>{{title}}</h1>
        <nav>
            <div class="nav">
                <!-- reserved for future use -->
            </div>
        </nav>
    </div>
</header>

<section>
    <div class="section content">
        <nav>
            <div class="nav">
                {{#if back}}<a class="drill-back" href="/browse?{{back}}" title="Move back one level">&#9664;</a>{{/if}}
            </div>
        </nav>
        {{{body}}}
    </div>
</section>

<script type="text/javascript">
YUI({
    gallery: 'gallery-2012.04.26-15-49'
}).use('gallery-clipboard', function(Y) {
"use strict";

var button = Y.one('#copy-code');
if (button)
{
    button.plug(Y.ClipBoard, { moviepath: '/' })
        .on('clipboard:load', function()
        {
            var code = Y.one('#sample-code');
            this.on('mouseover', function()
            {
                this.setAttribute('copy', code.get('innerText') || code.get('textContent'));
            });

            this.clipboard.setEvent('click', function()
            {
                this.clipboard.hide();
            },
            true);
        });
}

});
</script>

</body>
</html>
